* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 85%;
  max-width: 600px;
  /* border: 2px solid; */
  margin: 2rem auto;
}

form div {
  margin: 3rem 0;
}

label,
input {
  display: block;
}

input:not([type='submit']) {
  width: 80%;
  font-size: 15px;
  padding: 3px;
  border: none;
  border-bottom: 2px solid blue;
  border-radius: 5px;
}

input[type='submit'] {
  width: 30%;
  padding: 5px;
  font-size: 18px;
  margin-top: 1.5rem;
  background-color: blue;
  border: none;
  color: aliceblue;
  font-weight: bold;
}
